<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost/sites/simpletest/test.sqlite"/>
    <env name="SIMPLETEST_BASE_URL" value="http://localhost"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp"/>
    <!--
      SYMFONY_DEPRECATIONS_HELPER=weak: deprecations are collected and
      summarized at the end of the run, but DO NOT fail the suite by
      themselves. Combined with failOnRisky=true (above), there is a
      theoretical path where the Symfony PHPUnit bridge marks a test
      "risky" when un-self deprecations accumulate, which would then
      fail the suite. We're keeping `weak` because:
        - "disabled" hides our own deprecations (useful signal)
        - "max[total]=0" is too strict for a library that depends on
          drupal/core (which emits its own internal deprecations)
      If a future contrib dep starts spamming deprecations and trips
      failOnRisky, switch to "disabled" with a TODO link to the
      offending dep.
    -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>tests/src/Kernel</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
